* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-green-1x: #739072;
    --color-green-2x: #4f6f52;
    --color-green-3x: #3a4d39;
    --color-grey-1x: #aaaaaa;
    --color-dark-0x: #4f4f4f;
    --color-dark-1x: #2f2f2f;
    --color-dark-2x: #202020;
}

html {
    font-size: 8px;
}

canvas {
    display: block;
    margin-top: 1rem;
    margin-inline: auto;
    background-color: var(--color-dark-1x);
}

body {
    background-color: var(--color-dark-0x);
}
